<div class="player-container" data-bs-theme="dark">
  <video
    #videoEl
    controls
    class="video-element"
    [poster]="posterUrl"
  >
  </video>

  <div class="controls d-flex">
    <div class="control-item quality-select">
      <div ngbDropdown placement="top-start" class="d-inline-block">
        <button type="button" class="btn btn-sm btn-outline-secondary" id="ctrlQuality" ngbDropdownToggle>{{ formatFormatLabel(selectedFormat!, false) }}</button>
        <div ngbDropdownMenu aria-labelledby="ctrlQuality" class="multi-column-dropdown">
          <button
            ngbDropdownItem
            *ngFor="let cf of combinedFormats"
            (click)="changeQuality(cf)"
          >{{ formatFormatLabel(cf, true) }}</button>
        </div>
      </div>
    </div>

    <div class="control-item source-language-select">
      <div ngbDropdown display="dynamic" placement="top-start" class="d-inline-block">
        <button type="button" class="btn btn-sm btn-outline-secondary" id="ctrlLang" ngbDropdownToggle>{{ selectedLanguage}}</button>
        <div ngbDropdownMenu aria-labelledby="ctrlLang" class="multi-column-dropdown">
          <button
            ngbDropdownItem
            *ngFor="let lng of availableLanguages"
            (click)="changeLang(lng)"
          >{{ formatLangLabel(lng, true) }}</button>
        </div>
      </div>
    </div>

    <div class="control-item chapters" *ngIf="video?.chapters?.length">
      <div ngbDropdown display="dynamic" placement="top-start" class="d-inline-block">
        <button type="button" class="btn btn-sm btn-outline-secondary" id="ctrlChapters" ngbDropdownToggle>Chapters</button>
        <div ngbDropdownMenu aria-labelledby="ctrlChapters" class="multi-column-dropdown" style="columns: 2;">
          <button
            ngbDropdownItem
            *ngFor="let ch of video.chapters"
            (click)=goToChapter(ch)
          >{{ ch.title }}</button>
        </div>
      </div>
    </div>
  </div>
</div>
