.player-container {
  width: 100%;
  background: #000;

  .video-element {
    width: 100%;
    aspect-ratio: 16/9;
    background: #000;
  }

  .controls {
    display: flex;
    gap: 1rem;
    padding: 0.2rem 1rem 1rem 1rem;
    //background: #f5f5f5;

    button {
      padding: 0.5rem 1rem;
      cursor: pointer;
    }

    select {
      padding: 0.5rem;
    }
  }
}
