.player-container {
  width: 100%;
  background: #000;

  .video-element {
    width: 100%;
    aspect-ratio: 16/9;
    background: #000;
  }

  .controls {
    display: flex;
    gap: 1rem;
    padding: 0.6rem 1rem 1rem 1rem;

    .multi-column-dropdown {
      columns: 3;
      column-gap: 1rem;
      max-height: 400px;
      overflow-y: auto;

      button {
        break-inside: avoid;
        page-break-inside: avoid;
      }
    }
  }
}
